.tt-menu-bar {
    height: 40px;
}

.tt-scope-container {
    display: grid;
    grid-template-columns: 76% 24%;
    grid-template-rows: 100%;
    margin-bottom: 10px;
}

.tt-terminal-container {
    display: grid;
    grid-template-rows: 50vh calc(50vh - 40px);
    grid-template-columns: 100%;
    width: 100%;
}

.tt-terminal-and-gauges {
    display: grid;
    grid-template-columns: calc(100% - 120px) 120px;
    grid-template-rows: 100%;
}

.tt-main-screen {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 40px calc(100% - 40px);
    grid-template-columns: 100%;
}

.tt-connect-screen {
    width: 100vw;
    height: 100vh;
}

.tt-connect-form {
    max-width: 600px;
    margin: auto;
    overflow-y: visible;
}

#root {
    overflow: hidden;
}
