.tt-top-level {
    overflow: hidden;
}

.tt-coil-tabs {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tt-coil-tab-bar {
    flex: 0 0 auto;
}

.tt-coil-tab-main {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tt-menu-bar {
    flex: 0 1 auto;
}

.tt-scope-container {
    display: grid;
    grid-template-columns: 76% 24%;
    grid-template-rows: 100%;
    margin-bottom: 10px;
    height: 50vh;
}

.tt-terminal-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.tt-terminal {
    flex: 1 1 auto;
}

.tt-coil-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tt-terminal-and-gauges {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1 1 auto;
}

.tt-main-screen {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tt-root {
    overflow: hidden;
    height: 100vh;
}

.tt-darkmode-toggle {
    position: absolute;
    bottom: 0;
}

/*TODO this should really be in bootstrap itself in some form!*/
.bg-warning {
    color: black !important;
}
