.tt-sliders-container {
    overflow-y: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.tt-slider-container {
    margin-bottom: 30px;
}

.tt-slider, .tt-slider-gray {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/*TODO why doesn't electron load this if I put both webkit and moz in the same block?*/
.tt-slider::-webkit-slider-thumb, .tt-slider-gray::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.tt-slider::-webkit-slider-thumb {
    background-color: #0d6efd;
}

.tt-slider-gray::-webkit-slider-thumb {
    background-color: #a0a0a0;
}

.tt-slider::-moz-range-thumb, .tt-slider-gray::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.tt-slider::-moz-range-thumb {
    background-color: #0d6efd;
}

.tt-slider-gray::-moz-range-thumb {
    background-color: #a0a0a0;
}
