/* TODO make sure all of this works in light mode!*/
.vms-editor-block, .vms-editor-block-selected {
    background: gray;
    position: relative;
}

.vms-editor-block-selected {
    box-shadow: 0 0 5px 5px red;
}

.vms-editor-block-output, .vms-editor-block-input, .vms-editor-block-off {
    position: absolute;
}

.vms-editor-block-output {
    background: blue;
    bottom: 0;
}

.vms-editor-block-input {
    background: black;
    top: 0;
}

.vms-editor-block-off {
    background: red;
    left: 0;
}

.vms-mapsel-row-selected {
    background: red;
}

.vms-mapsel-row-default {
    background: blue;
}

.vms-mapsel-map-row, .vms-mapsel-program-row {
    padding-left: 20px;
    user-select: none;
}

.vms-mapsel-map-row {
    margin-left: 10%;
}
